<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:flow="http://www.springframework.org/schema/webflow-config" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" 
	default-lazy-init="true">
	
	<!-- ======================  C O N T R O L L E R  ===================== -->

	<bean name="/email.eml" class="it.advalso.gpd.web.controller.email.EmailController">
		<constructor-arg ref="attivitaManager" />
		<constructor-arg ref="documentServiceFactory" />
		<property name="view" ref="rfc822View"></property>
	</bean>

	<bean name="/allegatiattivita" class="it.advalso.gpd.web.controller.attivita.AllegatiAttivitaController">
		<property name="view" ref="allegatoAttivitaView"></property>
	</bean>

	<bean name="/meter.jpg" class="it.advalso.gpd.web.controller.monitor.MeterController" />
	
	<bean name="/consumoIstanza.jpg"
			class="it.advalso.gpd.web.controller.monitor.ConsumoIstanzaChartController">
		
	</bean>

	<bean name="/prospettoAndamentoRitiriCorriere.xls" class="it.advalso.gpd.web.controller.monitor.ReportController">
		<property name="view" ref="prospettoAndamentoRitiriCorriereView" />
	</bean>

	<bean name="/prospettoRiepilogativoPraticheRicevuteArchiviate.xls" class="it.advalso.gpd.web.controller.monitor.ReportController">
		<property name="view" ref="prospettoRiepilogativoPraticheRicevuteArchiviateView" />
	</bean>

	<bean name="/anomalieDistinte.xls" class="it.advalso.gpd.web.controller.monitor.ReportController">
		<property name="view" ref="anomalieDistinteView" />
	</bean>
	
	<bean name="/anomalieRaccolta.xls" class="it.advalso.gpd.web.controller.monitor.ReportController">
		<property name="view" ref="anomalieRaccoltaView" />
	</bean>
	
	<bean name="/pianoRitiri.xls" class="it.advalso.gpd.web.controller.monitor.ReportController">
		<property name="view" ref="pianoRitiriView" />
	</bean>
		
	<bean name="/reportMensileRitiri.xls" class="it.advalso.gpd.web.controller.monitor.ReportController">
		<property name="view" ref="reportMensileDeiRitiriView" />
	</bean>
	
	<bean name="/recuperoDocumentazione.xls" class="it.advalso.gpd.web.controller.monitor.ReportController">
		<property name="view" ref="recuperoDocumentazioneView" />
	</bean>
	
	<bean name="/campionamentiSuiColli.xls" class="it.advalso.gpd.web.controller.monitor.ReportController">
		<property name="view" ref="campionamentiSuiColliView" />
	</bean>
	
	<bean name="/anomalieContratti.xls" class="it.advalso.gpd.web.controller.monitor.ReportController">
		<property name="view" ref="anomalieContrattiView" />
	</bean>
	
	<bean name="/prospettoPraticheAttesaCompletamento.xls" class="it.advalso.gpd.web.controller.monitor.ReportController">
		<property name="view" ref="anomalieContrattiView" />
	</bean>
	
	<bean name="/prospettoPraticheAttesaDocumentazione.xls" class="it.advalso.gpd.web.controller.monitor.ReportController">
		<property name="view" ref="prospettoPraticheAttesaDocumentazioneView" />
	</bean>
	
	
	<!-- ============================ V I E W  ============================= -->

	<bean id="prospettoRiepilogativoPraticheRicevuteArchiviateView" class="it.advalso.gpd.web.view.monitor.ExcelView">
		<property name="url" value="/WEB-INF/view/monitor/prospetto-riepilogativo-pratiche-ricevute-e-archiviate" />
	</bean>

	<bean id="prospettoAndamentoRitiriCorriereView" class="it.advalso.gpd.web.view.monitor.ExcelView">
		<property name="url" value="/WEB-INF/view/monitor/prospetto-andamento-ritiri-corriere" />
	</bean>

	<bean id="anomalieDistinteView" class="it.advalso.gpd.web.view.monitor.ExcelView">
		<property name="url" value="/WEB-INF/view/monitor/anomalie-distinte" />
	</bean>
	
	<bean id="anomalieRaccoltaView" class="it.advalso.gpd.web.view.monitor.ExcelView">
		<property name="url" value="/WEB-INF/view/monitor/anomalie-raccolta" />
	</bean>
	
	<bean id="pianoRitiriView" class="it.advalso.gpd.web.view.monitor.ExcelView">
		<property name="url" value="/WEB-INF/view/monitor/piano-ritiri" />
	</bean>
		
	<bean id="reportMensileDeiRitiriView" class="it.advalso.gpd.web.view.monitor.ExcelView">
		<property name="url" value="/WEB-INF/view/monitor/report-mensile-dei-ritiri" />
	</bean>
	
	<bean id="recuperoDocumentazioneView" class="it.advalso.gpd.web.view.monitor.ExcelView">
		<property name="url" value="/WEB-INF/view/monitor/recupero-documentazione" />
	</bean>
	
	<bean id="campionamentiSuiColliView" class="it.advalso.gpd.web.view.monitor.ExcelView">
		<property name="url" value="/WEB-INF/view/monitor/campionamenti-sui-colli" />
	</bean>
	
	<bean id="anomalieContrattiView" class="it.advalso.gpd.web.view.monitor.ExcelView">
		<property name="url" value="/WEB-INF/view/monitor/anomalie-contratti" />
	</bean>
	
	<bean id="prospettoPraticheAttesaCompletamentoView" class="it.advalso.gpd.web.view.monitor.ExcelView">
		<property name="url" value="/WEB-INF/view/monitor/prospetto-pratiche-attesa-completamento" />
	</bean>
	
	<bean id="prospettoPraticheAttesaDocumentazioneView" class="it.advalso.gpd.web.view.monitor.ExcelView">
		<property name="url" value="/WEB-INF/view/monitor/prospetto-pratiche-attesa-documentazione" />
	</bean>

	<bean id="allegatoAttivitaView" class="it.advalso.gpd.web.view.attivita.AllegatoAttivitaView" />
	
	<bean id="rfc822View" class="it.advalso.gpd.web.view.email.Rfc822View" />

</beans>