<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		  	http://www.springframework.org/schema/aop
		  	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		  	http://www.springframework.org/schema/security
		  	http://www.springframework.org/schema/security/spring-security-2.0.4.xsd"
    default-lazy-init="true">
  	
  	<security:http session-fixation-protection="newSession">
		
		<security:anonymous />
		
		<security:form-login login-page="/welcome.do"
				login-processing-url="/security/login"
				default-target-url="/session.do" always-use-default-target="true"
				authentication-failure-url="/welcome.do?loginError=true" />
				
		<security:logout logout-url="/security/logout" logout-success-url="/welcome.do"/>
		
		<security:intercept-url pattern="/welcome.do" access="ROLE_ANONYMOUS" />
		<security:intercept-url pattern="/**/*.do" access="ROLE_USER" />
		<security:intercept-url pattern="/dwr/**" access="ROLE_USER" />
				
	</security:http>
	
	 <security:authentication-provider user-service-ref="userDetailsService">
		<security:password-encoder hash="plaintext" />
	</security:authentication-provider>
	
	<security:jdbc-user-service id="jdbcUserService" data-source-ref="dataSource" />
	
<!--	<security:user-service id="userService">-->
<!--      	<security:user name="advalso" password="advalso@123" authorities="ROLE_BACKOFFICE" />-->
<!--      	<security:user name="controlroom" password="room@2010" authorities="ROLE_CONTROLROOM" />-->
<!--      	<security:user name="olivetti" password="olivetti@2010" authorities="ROLE_CONTROLROOM" />-->
<!--      	<security:user name="telecomitalia" password="telecom@2010" authorities="ROLE_CONTROLROOM" />-->
<!--      	<security:user name="13042036" password="24094c" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13041676" password="ab5365" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="247587" password="aefdae" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13600160" password="4a18c8" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13012602" password="45b47f" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13041146" password="4b1fe4" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13016227" password="d9b9e9" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13041030" password="07e5ec" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="TL002150" password="3defae" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13040605" password="14100d" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13013660" password="7cbad0" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13041880" password="a23cc5" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13040875" password="130f04" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="351518" password="5a1ca1" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13013662" password="c81330" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="7020892" password="b3f538" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13014802" password="50c9ae" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13041758" password="41fc2f" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13040400" password="1cf33a" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13041123" password="f2f9cb" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="8471500" password="9448e4" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13022100" password="e564c6" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13040289" password="086ad2" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13040878" password="f407c3" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="498475" password="99ae21" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13040820" password="fbc747" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="5876690" password="1cfba9" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13040928" password="b783dc" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13041803" password="be4e34" authorities="ROLE_CONTROLROOM" />-->
<!--		<security:user name="13011310" password="64dfac" authorities="ROLE_CONTROLROOM" />-->
<!--      	<security:user name="amministratore" password="advalso@123" authorities="ROLE_AMMINISTRATORE" />-->
<!--    </security:user-service>-->
	
	<bean id="userDetailsService"
			class="org.springframework.security.userdetails.hierarchicalroles.UserDetailsServiceWrapper">
		<property name="roleHierarchy">
			<ref bean="roleHierarchy" />
		</property>
		<property name="userDetailsService" ref="jdbcUserService" />
	</bean>
	
  	<bean id="roleHierarchy"
  			class="org.springframework.security.userdetails.hierarchicalroles.RoleHierarchyImpl">
  		<property name="hierarchy">
  			<value>
  				ROLE_USER > ROLE_ANONYMOUS
  				ROLE_BACKOFFICE > ROLE_USER
  				ROLE_CONTROLROOM > ROLE_USER
  				ROLE_AMMINISTRATORE > ROLE_BACKOFFICE
  			</value>
  		</property>
  	</bean>

  	<!-- bean id="roleHierarchyVoter" class="org.springframework.security.vote.RoleHierarchyVoter">
		<constructor-arg ref="roleHierarchy" />
	</bean>

	<bean id="accessDecisionManager" class="org.springframework.security.vote.UnanimousBased">
		<property name="decisionVoters">
			<list>
				<ref bean="roleHierarchyVoter"/>
			</list>
		</property>
	</bean
-->
	
</beans>
