@import url('public-common.css');

/********************************************************************* COLORS ***************************************************************/
.loginStyle .forgot, #wrapperMain .searchBanner .list,
body, .pageTitle, .resultsPage .prizes .title,
.playPage .search a, .registrationPage a, .stepsWizard h1,
.becomeFundraiser .wrapperBannerBox h1, .becomeFundraiser h3
 	{color: #1a86ea;}
#wrapperFooter .section1, #wrapperFooter .section2 .socialShare a:hover, #overlay-container > div.closeOverlay,
#wrapperMain .wrapperBannerBox {background-color: #1a86ea;}
.homePage .results .numbers span, .resultsPage .results span
	 {border-color: #1a86ea;}

#wrapperFooter .section2 .socialShare a {color: #0859a5}
#wrapperMain .banner .wrapperSearch .opacity, #wrapperFooter .section2 {background-color: #0859a5;}
.homePage .howItWorks .dottedLine {border-color: #0859a5;}

.textPage a {color:#5bb6f7}
.button, .becomeFundraiser .howCanRaise .sectionVideo .info {background-color: #0859A5; color: #fff;}
.button.alternativeColor {background-color: #1a86ea;}
.button.alternativeColor:hover {background-color: #0859a5;}
.becomeFundraiser .howCanRaise .sectionVideo h3 span:after {color: #0859A5;}
.button:hover, .button:focus, .selectStyle.element-wrapper .icon {background: #1A86EA; }

.balloonStyle .balloon-content .title,
.balloonStyle .balloon-wrapper .emailLink a {color: #1a86ea}
.homePage .howItWorks .dottedLine {border-color: #1a86ea;}

.wrap-dropDown .dropDownRidesigned .dropDownArrow {background: #c20e1a;}
#wrapperHeader .section1 .links a.partner, .homePage .howItWorks h2:after, .homePage .howItWorks h2 span {color: #c20e1a;}
.playPage h1 {color:#1a86ea;}
.playPage #affiliateScroll .capitalLetter {color: #1a86ea;}

.carousel-container .scroller-wrapper .arrows {color: #5BB6F7;}

/********************************************************************* BOTH VERSION ***************************************************************/
#wrapperMain .banner {background-image: url("../img/public/auction.jpg");}
.becomeFundraiser #wrapperMain .banner {background-image: url("../img/public/auction.jpg");}
#wrapperMain .searchBanner .list {padding-left: 12px;}
.searchPage #wrapperMain .searchResults .button {padding: 5px 0;}
#wrapperMain .banner .waves {background-image: url('../img/public/header_waves.png');}

.becomeFundraiser .points ul li:before {background: url('../img/public/icons.png') no-repeat;}

/********************************************************************* DESKTOP VERSION ***************************************************************/
@media screen and (min-width: 641px) {
	#wrapperFooter .section1 {margin-top: 24px;}
	.homePage .support {text-align: left;}
}

/********************************************************************* DESKTOP SOME FIXES ***************************************************************/
@media screen and (max-width: 1021px) {#wrapperFooter .section1 {font-size: 22px;}}

/********************************************************************* MOBILE VERSION ***************************************************************/
@media screen and (max-width: 640px) {

}