/********************************************************************* FONTS  ***************************************************************/
@font-face {font-family: 'OpenSans';font-weight: 800;src: url('../shared/css/fonts/OpenSans-ExtraBold/opensans-extrabold-webfont.eot?v=3.0.1');src: url('../shared/css/fonts/OpenSans-ExtraBold/opensans-extrabold-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),url('../shared/css/fonts/OpenSans-ExtraBold/opensans-extrabold-webfont.woff?v=3.0.1') format('woff'),url('../shared/css/fonts/OpenSans-ExtraBold/opensans-extrabold-webfont.ttf?v=3.0.1') format('truetype');}
@font-face {font-family: 'OpenSans';font-weight: 700;src: url('../shared/css/fonts/OpenSans-Bold/opensans-bold-webfont.eot?v=3.0.1');src: url('../shared/css/fonts/OpenSans-Bold/opensans-bold-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),url('../shared/css/fonts/OpenSans-Bold/opensans-bold-webfont.woff?v=3.0.1') format('woff'),url('../shared/css/fonts/OpenSans-Bold/opensans-bold-webfont.ttf?v=3.0.1') format('truetype');}
@font-face {font-family: 'OpenSans';font-weight: 600;src: url('../shared/css/fonts/OpenSans-Semibold/opensans-semibold-webfont.eot?v=3.0.1');src: url('../shared/css/fonts/OpenSans-Semibold/opensans-semibold-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),url('../shared/css/fonts/OpenSans-Semibold/opensans-semibold-webfont.woff?v=3.0.1') format('woff'),url('../shared/css/fonts/OpenSans-Semibold/opensans-semibold-webfont.ttf?v=3.0.1') format('truetype');}
@font-face {font-family: 'OpenSans';font-weight: normal;src: url('../shared/css/fonts/OpenSans-Regular/opensans-regular-webfont.eot?v=3.0.1');src: url('../shared/css/fonts/OpenSans-Regular/opensans-regular-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),url('../shared/css/fonts/OpenSans-Regular/opensans-regular-webfont.woff?v=3.0.1') format('woff'),url('../shared/css/fonts/OpenSans-Regular/opensans-regular-webfont.ttf?v=3.0.1') format('truetype');}

*:focus, *:active,*:focus { outline:0;}
/****************************************************************** Template ****************************************************/
body {min-width:780px; font-family: OpenSans;}
a {text-decoration: none; color: #00a5e2;} a:hover {text-decoration: underline; }
#loadingIcon {position: fixed; width: 100%; text-align: left;color: white; z-index: 101; margin: -85px 0 0 2px;}
#loadingIcon img {width: 24px; margin-bottom: 11px;}
.margin {margin-left: 24%;padding-left: 15px;}

.wrapper .navigator {width: 379px;margin-left: 25%;font-size: 20px;margin-top: 15px;position: relative;}
.wrapper .navigator .prev {float:left;margin-top: 20px;}
.wrapper .navigator .prev:before {font-family: Symbols; content: "\F100\00a0";}
.wrapper .navigator .next {float:right;}
.wrapper .navigator .nextNote {float: right;width: 177px;clear: both;font-size: 11px;text-align: right;}

.contactDetailsPage.wrapper .navigator .prev {display: none;}

/****************************************************************** HEADER ****************************************************/
#header {position: fixed; background: #fff; top:0px; left:0px; right:0px; z-index: 2;}
#header .logo {height: 67px;position: relative;top: 8px;left: 0px; margin: 0 0 15px 33px; display: block; border: 0; position: relative;}
#header .login {position: absolute;right: 22px;top: 33px;color: #00a0db;}
#header .login a {color: #00a5e2;}
#header .title {background: #00a0db;padding: 6px;}
#header .title a {color:#fff; font-size: 24px; font-weight: 700;}
#header .title a:before {content: "\F015"; font-family: "Symbols"; display: inline-block; padding: 0 11px 0 22px; font-size: 38px; vertical-align: middle; font-weight: 400;}

/****************************************************************** CENTRAL FRAME ****************************************************/
#frame {width:100%;position: relative;z-index: 1; margin-top: 133px;}
#frame.opacity {opacity:0; visibility:hidden;}

#left {position: fixed;top: 133px;bottom: 31px; width:227px;background: #81DAFB;overflow: auto;z-index: 2;}
.admin #left {}
#left .menuItem {margin: 0; position:relative; font-size: 16px;}
#left .line {border-bottom: 2px solid #fff; width: 90%; margin: 0 5%; position: absolute;bottom: -1px;z-index: 1;}
#left .menuItem.select {background: #00a0db;}
#left .menuItem .submenu {height:0; overflow: hidden;}
#left .menuItem.select .submenu {height:213px;}
.admin #left .menuItem.select .partconf  {height:362px;}
.admin #left .menuItem.select .commission {height:232px;}
#left a {color: #fff;line-height: 38px;display: block;padding-left: 38px;width: 189px;}
.admin #left a {line-height: 29px;}
#left a.title {line-height: 51px;}
#left span.title {color: #fff;line-height: 51px;display: block;padding-left: 38px;width: 189px;}
#left .select a.title {color: #fff; font-weight: bold;}
#left .submenu a {padding-left: 15px;}
#left .submenu a:before {content: "\F054"; font-family: Symbols; padding-right: 11px;}
#left .menuItem a:hover {text-decoration: none; background: #0FAFEB}
#left .menuItem a:hover.select {background: transparent; cursor: default;}
#left .menuItem a.noItem {cursor: default;}
#left .menuItem a.noItem:before {content: "\F03A"}
#left .menuItem a.noItem:hover {background: transparent;}
#left .menuItem a.select {color:#81DAFB;}

#left .menuItem a.title:before {position: absolute;left:3px;top: 10px;width:29px; height:29px;content:"";} 
#left .menuItem a.title:after
 {position: absolute;top: 10px;width:29px; height:29px; background-image: url("../img/dashboard/icons-menu.png");
 background-position: -116px 0; right:6px;content:"";} 
#left .menuItem.select a.title:after {-webkit-transition:ease;-webkit-transition-duration:0.5s;-moz-transition:ease;-moz-transition-duration:0.5s;transition:ease;transition-duration:0.5s;
-webkit-transform: rotateZ(90deg);-moz-transform: rotateZ(90deg);
-o-transform: rotateZ(90deg); transform: rotateZ(90deg);}
#left .menuItem.empty a.title:after, #left .menuItem.empty a.title:before {background-image: none;}
#left .menuItem.account a.title:before {background-image: url("../img/dashboard/icons-menu.png");}
#left .menuItem.editor a.title:before {background-position: -29px 0;background-image: url("../img/dashboard/icons-menu.png")}
#left .menuItem.marketing a.title:before {background-position: -58px 0;background-image: url("../img/dashboard/icons-menu.png")}
#left .menuItem.reports a.title:before {background-position: -87px 0;background-image: url("../img/dashboard/icons-menu.png")}

/*ADMIN*/
#left .admin {position: relative;}

#left #subMenuAccount {background: transparent; border:0; border-left: 15px solid transparent; border-radius: 0px 11px 11px 0px; overflow: hidden; position: relative;}
#left #subMenuAccount {font-size: 15px;}

#left #subMenuReports {background: transparent; border:0; border-left: 15px solid transparent; border-radius: 0px 11px 11px 0px; overflow: hidden; position: relative;}
#left #subMenuReports {font-size: 15px;}

#body {float:left; background: #ffffff;margin-left: 227px;min-width: 532px;}
#right {position: fixed;min-width: 227px;width: 20%;border-left: 3px solid #DDD;right: 0;overflow: auto;
	bottom: 29px;top: 132px;background: white; z-index: 0; overflow-x: hidden;}
.wrapper {padding: 11px 15px; margin: 0 auto; z-index: 2; width: 99%; }


.collapsed #body, .wizardMode #body {margin-left: 36px;}
.wizardMode .admin #body {margin-left: 227px;}
.wizardMode.collapsed .admin #body {margin-left: 36px;}
.collapsed .wrapper {max-width: 1104px;} 
.collapsed #left {width:36px;}
.collapsed #left .menuItem a.title:after {background-image: none;}
.collapsed #left .menuItem.select {height: 51px;overflow: hidden;}

/****************************************************************** FOOTER ****************************************************/
#footer 
	{width:100%; position: fixed; bottom:0px; left:0px; right: 0px; z-index: 4; text-align: center; 
	border-top:2px solid #868686; color:#868686;z-index: 2;background: #fff; padding: 6px;font-size: 13px;}

/****************************************************************** RIGHT BOXES ****************************************************/
#right .sideBox {padding: 11px; position:relative;}
.sideBox h1 {color:#00a0db;font-size: 27px;}
.sideBox.customerCare {background:#81DAFB; color:#fff;clear: both;}
.sideBox.customerCare h1 {margin:0; color: #fff;}
.sideBox.customerCare a {color:#fff;}
.wrapper .value {vertical-align: middle;}

.sideBox.affiliateInfo img {max-width: 204px; margin-bottom: 11px;}
.sideBox.affiliateInfo .label {font-weight: bold; float: left; clear: left;}
.sideBox.affiliateInfo .value {padding: 0 0 11px 119px;}

.sideBox.faqs a {color:#777; display: block; font-size: 17px;margin: 6px 0;}
.sideBox.faqs a:hover {text-decoration: none;color:#00a0db;}
.sideBox.faqs a:before {font-family: Symbols; content:"\F05A"; padding-right: 6px;}

.sideBox.faqsWizard .icon {background: url("../img/dashboard/pdfDownload.png") no-repeat; width:40px; height:36px; position:relative;display: inline-block; padding-right: 11px;
	vertical-align: top;}
.sideBox.faqsWizard .text {display: inline-block;width: 71%;}
.sideBox.faqsWizard .text a:after {font-family: Symbols; content: "\00a0\F101";}
.checkbox-wrapper span {top: -2px;padding: 0px 4px;}

.sideBox.publishDate h1 {margin: 0;}

.sideBox.publishDate .publishDateGroup .top.balloon-wrapper .balloon-content > .header {width: 195px;}
.sideBox.publishDate .publishDateGroup .top.balloon-wrapper {min-width: 0!important;width: 195px !important;}
.sideBox.publishDate .publishDateGroup .element-wrapper {margin-top: 4px;}
.sideBox.publishDate .publishDateGroup .element-wrapper#wrap-publishTime {margin-left: 0;}
.sideBox.publishDate .balloon-content .container {font-size: 13px;}
.sideBox.publishDate .calendar-wrapper select.month {width: 70px;}
.sideBox.publishDate .calendar-wrapper .table {width: 191px;}
.sideBox.publishDate .calendar-wrapper .table .element {height: 15px;font-size: 13px;width: 24px;}

.sideBox.publishDate .group-wrapper #wrap-publishDate.element-wrapper {margin: 0; margin-right: 6px;}
.sideBox.publishDate .hidden {display:none;}

.group-wrapper.publishDateRadio .element-wrapper {display:block;margin: 11px 0;}
.publishDateGroup .balloon-wrapper {max-width: 245px;}
#wrap-acceptGuidelines .balloon-wrapper {padding: 4px 11px;}
.publishDateGroup  .balloon-content .title {padding: 4px 11px;font-size: 16px;background: #00A3E2;color: #FFF;display:block;}
.publishDateGroup  .balloon-content .error, .publishDateGroup  .balloon-content .description {padding: 4px 11px;}
.publishDateGroup  .left .balloon-arrow-overlay {border-left-color: #00A3E2;}

/****************************************** GRADIENTS *********************************************************************/
.button.colorFB {background: #43609C;}
.button.colorTW {background: #2E9AC2;}

/* GREEN WEBSITE */
.button.color1 {
	background: #88c621;
	background: -moz-linear-gradient(top,  #88c621 0%, #569f08 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88c621), color-stop(100%,#569f08));
	background: -webkit-linear-gradient(top,  #88c621 0%,#569f08 100%);
	background: -o-linear-gradient(top,  #88c621 0%,#569f08 100%);
	background: -ms-linear-gradient(top,  #88c621 0%,#569f08 100%);
	background: linear-gradient(to bottom,  #88c621 0%,#569f08 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c621', endColorstr='#569f08',GradientType=0 );
	color: #fff;
}
.button.color1:hover, .button.color1:focus {
	
}

/* AZURE */
.button.color2, .validation .wrap-fileUpload.element-wrapper .placeholder,
.validation .wrap-fileUpload.element-wrapper .placeholder:hover,
.validation .wrap-fileUpload.active.element-wrapper .placeholder {color: #00a5e2;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #bae6f7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#bae6f7));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#bae6f7 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#bae6f7 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#bae6f7 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#bae6f7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bae6f7',GradientType=0 );	
}
.button.color2:hover, .button.color2:focus {}

/* RED */
.button.color3 {background: #ff0004;
	background: -moz-linear-gradient(top,  #ff0004 1%, #b70003 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff0004), color-stop(100%,#b70003));
	background: -webkit-linear-gradient(top,  #ff0004 1%,#b70003 100%);
	background: -o-linear-gradient(top,  #ff0004 1%,#b70003 100%);
	background: -ms-linear-gradient(top,  #ff0004 1%,#b70003 100%);
	background: linear-gradient(to bottom,  #ff0004 1%,#b70003 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0004', endColorstr='#b70003',GradientType=0 );
	color: #fff;
}
.button.color3:hover, .button.color3:focus{}

/* GRAY */
.button.color4, .button.disabled, .button.disabled:hover, .validation .wrap-table .pageWrapper div,
 .validation .wrap-table .pageWrapper a,
.socialMediaPage #facebookButton.disabled, .socialMediaPage #twitterButton.disabled, 
.button.color4:hover, .button.color4:focus {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );	
	color: #868686;
}
.button.disabled, .button.disabled:hover,  .validation .wrap-table .pageWrapper div.disabled {color: #868686 !important;}

/******************************************************** SHADOWS *************************************/   
/* SHADOW GRAY RIGHT-BOTTOM*/
.stepsWizard .box span.dot, .marketigPrintPage .promotion .banner
    {-webkit-box-shadow: 2px 2px 11px -2px #000;box-shadow: 2px 2px 11px -2px #000;}
.button, .validation .wrap-fileUpload.element-wrapper .placeholder, .homePage .wrap-countDown ul
    {-webkit-box-shadow: 0px 2px 2px 0px #797979;box-shadow: 0px 2px 2px 0px #797979;}

#overlay-container > div.closeOverlay {text-shadow: -1px -1px 0px #AFAFAF;}
#overlay-container > div.closeOverlay:active {text-shadow: 0px -1px 0px #AFAFAF;}

/****************************************** BUTTONS & LINKS **************************************************************/
.button {
	border-width: 0;	
	color: #fff;
	margin: 11px 0;
	padding: 6px 33px;
	position: relative;
	top: 1px;
	text-align: center;
	background-color: #ff6a00;
	cursor: pointer;
	font-size: 20px;
	border: 1px outset #ddd;	
	font-weight: 600;
}
.button:active, .validation .wrap-fileUpload.element-wrapper .placeholder:active {border-style:inset;}
.button:focus, .button:hover, .validation .wrap-fileUpload.element-wrapper .placeholder:hover, .validation .wrap-fileUpload.element-wrapper .placeholder:focus {border-color: #aaa;}
a.button:hover {text-decoration: none;}
/* .button.rightArrow:after {font-family:"Symbols"; content: "\F0DA"; display: inline-block; padding-left: 11px; } */
/* .button.leftArrow:before {font-family:"Symbols"; content: "\F0D9"; display: inline-block; padding-right: 11px; } */

.marketigOverviewPage a, .marketigPrintPage a, .socialMediaPage a, .marketingBannersPage a, #footer a {color: #00a5e2;}
.default-text-color { color: #777;}

/****************************************************************** overlay popUp ****************************************************/
#overlay-container {border: 6px outset #00A0DB;}
#overlay-container > div.closeOverlay {background-color:#F99F1C;right: -19px;top: -22px; border-style: outset; border-color: #F99F1C;}
#overlay-container > div.closeOverlay:active {border-style: inset;}
.overlay.whySendForReview {width:780px;}

/****************************************************************** general validation ****************************************************/
.element-wrapper input[type='text'], .element-wrapper input[type='password'], .element-wrapper input[type='file'], .element-wrapper input[type='checkbox'], 
.element-wrapper input[type='radio'], .element-wrapper select, .element-wrapper textarea , .element-wrapper input[type='date'], .element-wrapper input[type='time']
    {padding:2px 0px 2px 2px;}
 .element-wrapper select {height: 24px;}  
.left .balloon-arrow-overlay {border-width: 6px;left: -7px;top: -6px;}
.right .balloon-arrow-overlay {border-width: 6px;top: -6px;}

.validation a {color: #00a5e2}
.validation input[type='text'], .validation input[type='password'], .validation input[type='file'] {width: 348px;}
.validation input[type='text'].url { width: 193px; }
.validation textarea {width: 346px;}
.validation select {min-width: 308px;}
.validation label {width:24%;;text-align:right;display:inline-block;margin:2px 11px 0px 0;position:relative;vertical-align: top;}
.validation label.url {width:140px;text-align:right;margin:2px 11px 0px 0;position:relative;vertical-align: top;font-weight:500;}
.validation span.bold {vertical-align: middle;}
.validation .element-wrapper .placeholder {color: #999;}
.validation .wrap-fileUpload.element-wrapper .placeholder {margin: 0 155px 0 0;padding: 4px 11px 4px 11px;top: -1px !important;border: 1px outset #ddd;
	left: -1px;font-weight: 600 !important;width: 171px;font-size: 17px;}
.validation .wrap-fileUpload.element-wrapper .placeholder:active {border-style: inset;}
.validation .noteField {margin: 4px 0 15px 24%;width: 375px;padding: 0 0 0 15px;color: #333;}
.validation label span {position: relative;left: 24px;}
.validation em {color:red; padding-right:6px;}
.validation .balloon-wrapper {padding: 11px;}
.validation .balloon-content .title {color: #F99F1C;}
.validation .balloon-content .footer h2 {margin:11px 0; color: #000;}
.validation .balloon-wrapper .emailLink a {color: #00a5e2}
.validation .balloon-content .footer span {font-weight: bold;}
.validation .balloon-content .footer strong {color: #000;font-size: 10px;font-weight: normal;}

.validation .top.balloon-wrapper, .validation .bottom.balloon-wrapper {width: 488px;}
.validation .group-wrapper.radioImage .checkbox-wrapper span {display: block; float:right;}
.validation .group-wrapper.radioImage .element-wrapper .icon .info {top: -146px;left: 195px;}
.validation .group-wrapper.radioImage .checkbox-wrapper span img {width: 137px;}
.validation .group-wrapper.radioImage .wrap-checkbox {border-color: transparent; background: transparent;}
.group-wrapper .wrap-checkbox.checked {color:#00a0db;}

.validation .group-wrapper.radioImage.hover {border-color:#777;}
.validation .group-wrapper.radioImage.active {border-color:#555;}
.validation .group-wrapper.radioImage .wrap-checkbox.active .icon {background: transparent;}
.validation select {min-width:0px;width: 350px;}
.validation .right.balloon-wrapper {width: 204px;min-width: initial;}
.validation .balloon-wrapper {font-size: 14px;}

.validation .element-wrapper.active .icon {background: #00a0db;}
.validation .element-wrapper.active .checkbox-wrapper {text-shadow:0px 0px 1px #00a0db;}

.validation label {font-weight: 600;}

.validation .element-wrapper input[type='text'], .validation .element-wrapper input[type='password'], 
.validation .element-wrapper input[type='file'], .validation .element-wrapper input[type='checkbox'], 
.validation .element-wrapper input[type='radio'], .validation .element-wrapper select, 
.validation .element-wrapper textarea,.element-wrapper input[type='date'], .validation .element-wrapper input[type='time']
	{background: transparent;}

.validation .element-wrapper.disabled input[type='text'], .validation .element-wrapper.disabled input[type='password'], .validation .element-wrapper.disabled input[type='file'], 
.validation .element-wrapper.disabled input[type='checkbox'], .validation .element-wrapper.disabled input[type='radio'], .validation .element-wrapper.disabled select, 
.validation .element-wrapper.disabled textarea 
{background: #F8F8F8;}

.validation .colorPicker-color {float: left;}
.validation .element-wrapper, .validation .element-wrapper.active, .validation .element-wrapper.hover {border:1px solid #e9e9e9; background: #e9e9e9;}
.validation .wrap-table {width:100%;}
.validation .wrap-table, .validation .wrap-table.active, .validation .wrap-table.hover,
.validation .wrap-table .element-wrapper, .validation .wrap-table .element-wrapper.active, .validation .wrap-table .element-wrapper.hover 
	{border: none;background: transparent;}
.validation .wrap-table .line.head .cell {background-color: #00A0DB;}
.validation .wrap-table .line.alternate .cell {background-color: #FFECBA;}
.validation .wrap-table .pageWrapper div, .validation .wrap-table .pageWrapper a
 {margin-right: 6px;padding: 4px;display: inline-block;font-weight: bold;border-radius: 6px;color: #00A0DB;}

.messageBanner {width: auto;border: 2px solid #aaa;padding: 15px 60px;margin: 0;text-align: left;position: relative;font-weight: 400;}
.wrapper .messageBanner a {color:#777;}
.wizardMessages .messageBanner {margin: 15px 0 0 15px;}
.messageBanner p {margin: 0 0 11px 0; color: #434343 !important;}
.messageBanner.success {color: #008000;background: #DAFFDA; border-color:#008000;}
.messageBanner.failure {color: #df1c1c;background: #ffd1d1; border-color:#df1c1c;}
.messageBanner.notice {color: #666666;background: #FFFAA1; border-color:#EDDC1A;}
.messageBanner:before {content:"\00a0";font-family: Symbols; display: block; position: absolute;font-size: 38px;top: 2px;left: 8px; font-weight: normal;}
.messageBanner.success:before {content: "\F00C";}
.messageBanner.failure:before {content: "\F00D";}

.messageBanner {-webkit-animation: turn2 0.5s linear both;-moz-animation: turn2 0.5s linear both;animation: turn2 0.5s linear both;}

@-webkit-keyframes turn2{0% {-webkit-transform: rotateX(-90deg); } 100% {-webkit-transform: rotateX(0deg); } }
@-moz-keyframes turn2 	{0% {-moz-transform: rotateX(-90deg); }  100% {-moz-transform: rotateX(0deg); } }
@-o-keyframes turn2 	{0% {-o-transform: rotateX(-90deg); }  100% {-o-transform: rotateX(0deg); } }
@keyframes turn2 		{0% {transform: rotateX(-90deg); }  100% {transform: rotateX(0deg); } }

.stepsWizard .element-wrapper.animated.active .balloon-wrapper.top {-webkit-animation: balloonTop 0.2s linear both;-moz-animation: balloonTop 0.2s linear both;animation: balloonTop 0.2s linear both;}
@-webkit-keyframes balloonTop {0% {margin-top:11px; opacity:0;-webkit-transform: rotateY(-180deg); } 100% {margin-top:0px; opacity:1;-webkit-transform: rotateY(0deg);} }
@-moz-keyframes balloonTop 	{0% {margin-top:11px; opacity:0;-moz-transform: rotateX(-180deg);}  100% {margin-top:0px; opacity:1;-moz-transform: rotateX(0deg);} }
@-o-keyframes balloonTop 	{0% {margin-top:11px; opacity:0;-o-transform: rotateX(-180deg);}  100% {margin-top:0px; opacity:1;-o-transform: rotateX(0deg);} }
@keyframes balloonTop 		{0% {margin-top:11px; opacity:0;transform: rotateX(-180deg);}  100% {margin-top:0px; opacity:1;transform: rotateX(0deg);} }

#overlay-backgroundOpacity {-webkit-animation: overlayBackGround 0.2s linear both;-moz-animation: overlayBackGround 0.2s linear both;animation: overlayBackGround 0.2s linear both;}
@-webkit-keyframes overlayBackGround {0% {top:50%;left:50%;bottom:50%; right:50%; } 100% {} }
@-moz-keyframes overlayBackGround 	{0% {top:50%;left:50%;bottom:50%; right:50%;}  100% {} }
@-o-keyframes overlayBackGround 	{0% {top:50%;left:50%;bottom:50%; right:50%;}  100% {} }
@keyframes overlayBackGround 		{0% {top:50%;left:50%;bottom:50%; right:50%;}  100% {} }

/****************************************************************** Common Styles ****************************************************/
.wrapper, #right {font-size: 15px;color: #777;}
.wrapper h1, .stepsWizard h1 {color: #00a0db; margin: 0 0 15px 0;}

.blankSpacer {height: 15px; clear:both;}
.smallSpacer {height:11px;}

#right .button {font-size: 14px;padding: 6px 15px;margin: 2px;width: auto;}
#right .publishSetting.sideBox .element-wrapper {margin: 8px 0;}

.homePage a {color: #00a5e2}
.homePage .banner 	
	{position: relative;width:100%; display:block; background: url("../img/dashboard/homeBanner.png") no-repeat left; 
	 height: 135px; text-align: left; color:#fff;margin-bottom: 24px; overflow: hidden;}
.homePage .banner .inner {padding: 11px 0;}
.homePage .banner .nextDraw {font-size: 22px; line-height: 22px; padding-left: 119px;}
.homePage .banner .jackpot {display: block;position: relative;max-width: 465px;float: left;width: 57%;margin-left: 6%;}
.homePage .banner .estimated {position: absolute;top: 78px;left: 0px;}
.homePage .banner .yesJackpot {font-size: 87px;font-weight: 800;line-height: 83px;}
.homePage .banner .yesJackpot sup {position: relative;top: -33px;font-size: 33%;}
.homePage .banner .noJackpot {font-size: 47px;display: inline-block;text-align: center;line-height: 47px;font-weight: bold;}
.homePage .banner .time {float: right;margin-top: 9px;position: relative;min-width: 191px;width: 36%;}
.homePage .banner .time .title {font-size: 22px;}
.homePage .banner .time .wrap-countDown ul {font-size: 25px; line-height: 31px;width: 40px;height: 33px;margin-left: 4px;font-family: OpenSans; }
.homePage .banner .time .wrap-countDown ul li div span span.inn {border-radius: 0;}
.homePage .banner .time .wrap-countDown span.wings {top: 11px;}
.homePage .banner .time .wrap-countDown .down span.wings {top: -6px;}
.homePage .banner .time .wrap-countDown span.wings.right {left: 34px;}
.homePage .banner .time .wrap-countDown div {margin: -20px 15px 0 0;}
.homePage .banner .time .wrap-countDown ul li div span span.inn {color: #000;}
.homePage .banner .time .labels {position: absolute;color: #000;top: 71px;font-size: 11px;}
.homePage .banner .time .labels span {display: inline-block;width: 45px;text-align: center;}

.homePage .messageBanner {-webkit-animation: none;-moz-animation: none;animation: none;}

.homePage .reports {width: 47%; float:left; }
.homePage .reports .label, .homePage .reports .value {float:left; width:70px;padding: 0 0 11px 0;} 
.homePage .reports .label {font-weight: bold; clear:left; width:150px;}
.homePage .reports .graphs {clear:left; padding-top: 29px;}
.homePage .reports .graphs .title {font-size: 22px; font-weight: bold;text-align: center;margin: 11px;}
.homePage .reports .graphs .content {}
.homePage .reports .wrap-graphs {width: 100%; height:240px;}
#overlay-container .wrap-graphs {height:440px;}

.homePage .marketing {width: 47%;float: left;margin-left: 3%;padding-left: 2%;border-left: 1px solid #DDD;}
.homePage .marketing .list a.elem {display: block; width: 69%; color: #777; text-decoration: none; margin: 24px 0;padding: 0 0 0 65px;position: relative;height: 42px;font-weight: bold;}

.homePage .marketing .list a.elem:before {content: ""; position: absolute;left:0px;top: 0px;font-weight: normal; width:50px; height:50px; background-image: url("../img/dashboard/icons.png");} 
.homePage .marketing .list a.guide:before {}
.homePage .marketing .list a.mediapack:before {background-position: -50px 0;}
.homePage .marketing .list a.banners:before {background-position: -100px 0;}
.homePage .marketing .list a.socials:before {background-position: -150px 0;}

/****************************************************************** Steps Page ****************************************************/
.stepsWizard {border-bottom: 1px solid #DDD; padding-bottom: 33px;font-weight: bold; position: relative; z-index: 0;min-width: 704px; padding: 15px;color: #777;max-width: 1082px;}
.stepsWizard h1 {margin-top: 0}
.stepsWizard .box {width: 24%; float:left; position: relative; min-width: 168px;}
.stepsWizard .box.openAccount {z-index: 11;}
.stepsWizard .box.accountDetails {z-index: 10;}
.stepsWizard .box.websiteEditor {z-index: 9;}
.stepsWizard .box.sendForReview {z-index: 8;}
.stepsWizard .box p {height: 55px;text-align: left;text-align: center;}
.stepsWizard .box span.line {width: 100%; height: 12px;margin: 18px 0; float:left; border-right: 1px solid #fff;}
.stepsWizard .box span.dot {float: left;display: block;width: 44px;height: 44px;border-radius: 42px;border: 2px solid #fff;font-size: 33px;text-align: center;
	font-weight: 700;line-height: 42px;position: absolute;color: #fff;right: -24px;}						
.stepsWizard .box.accountDetails span.line {width: 32%;}
.stepsWizard .box.websiteEditor span.line {width: 48%;}
.textPage .stepsWizard {display: none;}

/* GREY */
.stepsWizard .box span.line {background-color: #E4E4E4;} .stepsWizard .box span.dot {background-color: #BCBCBC;}

/* ORANGE */ 
.stepsWizard .box.true.accountDetails span.line,.stepsWizard .box.true.websiteEditor span.line {background: #FFC062;} 
.stepsWizard .box.true.accountDetails span.dot, .stepsWizard .box.true.websiteEditor span.dot,
.stepsWizard .box.true.accountDetails.contact span.line.sub1, .stepsWizard .box.true.accountDetails.organisation span.line.sub2, 
.stepsWizard .box.true.accountDetails.financial span.line.sub3,
.stepsWizard .box.true.websiteEditor.website span.line.sub1, .stepsWizard .box.true.websiteEditor.publication span.line.sub2,
.stepsWizard .box.true.sendForReview span.line, .stepsWizard .box.true.sendForReview span.dot
{background: #FF9900;}

/* GREEN */
.stepsWizard .box.openAccount span, .stepsWizard .box.accountDetails.organisation span.false,
.stepsWizard .box.accountDetails span.line, .stepsWizard .box.accountDetails span.dot,
.stepsWizard .box.accountDetails.true span.line.true, .stepsWizard .box.websiteEditor.true span.line.true,
.stepsWizard .box.websiteEditor.false.send span.line, .stepsWizard .box.websiteEditor.false.send span.dot,
.stepsWizard .box.websiteEditor.false.complete span.line, .stepsWizard .box.websiteEditor.false.complete span.dot,
.stepsWizard .box.sendForReview.false.complete span.line, .stepsWizard .box.sendForReview.false.complete span.dot
 {background: #00CC00;}

.publishDatePage a,.sendForReviewPage a {color: #00a5e2}

.publishDatePage form, .sendForReviewPage form {margin: 0 auto; width: 50%;}
.publishDatePage .wrap-checkbox {display: block; margin: 11px;}
.publishDatePage .right .balloon-arrow-overlay {border-right-color: #00a0db;}
.sendForReviewPage #acceptGuidelinesLabel {display: inline-block;}

.completeSteps .content {margin: 0 auto; width: 50%;}
.completeSteps a.button {color: #fff;}
.completeSteps a.button:hover {text-decoration: none;}

/****************************************************************** Account Details ****************************************************/

/****************************************************************** Account Information ****************************************************/

/****************************************************************** Contact Details ****************************************************/
.contactDetailsPage #operatorCountry {font-size: 12px;}
.contactDetailsPage #secondOperatorCountry {font-size: 12px;}
.contactDetailsPage #secondaryContactLink {cursor: pointer;}
.contactDetailsPage #secondaryContactLink:before {font-family:symbols; content: "\F055"; display: inline-block; padding: 0 11px;}
.contactDetailsPage #secondaryContactLink.expanded:before {content:"\00a0";} 
.contactDetailsPage #secondaryContactWrapper {display:none;}

/****************************************************************** Financial Information ****************************************************/
.financialInformationPage #wrap-divFinAddress {border:none;width: 100%; background: transparent;}
.financialInformationPage #wrap-financeCheckSameContactDetailsAddress {border-color:transparent; background: transparent;}
.financialInformationPage.validation .element-wrapper#wrap-selfBilling {background: transparent; border-color: transparent;}
.financialInformationPage .value {display: inline-block;width: 330px;}
.financialInformationPage #wrap-vatRegistrationNumberBox {border:none; width: 100%;background: transparent;}
.financialInformationPage #financeCountry {font-size: 12px;}
.financialInformationPage .selfBillingNote {background-color: #e7f8fe; padding: 15px; text-align: center;}
.financialInformationPage .securityBadge {display: inline-block;}
/****************************************************************** Organisation Details ****************************************************/
.organisationDetailPage #wrap-divOrgAddress {border:none;width: 100%; background: transparent; }
.organisationDetailPage #wrap-checkAffAddress {border-color:transparent; background: transparent;}
.organisationDetailPage input.small {width: 155px;}
.organisationDetailPage #affiliateCountry {font-size: 12px;}

/****************************************************************** webSite Editor ****************************************************/
.websiteEditorPage .wrap-fileUpload, .websiteEditorPage .wrap-fileUpload.active, .websiteEditorPage .wrap-fileUpload.hover {background: none;border-color: transparent;}
.websiteEditorPage .colorPicker-color {width: 143px; height: 26px;}
.websiteEditorPage #colorPicker {width: 180px;padding-left: 24px;}
.websiteEditorPage #wrap-colorPicker.element-wrapper .placeholder {left: auto;right: 33px;top: 3px !important; display:block !important; color: #777;}
.websiteEditorPage .imagePreview {width: 0px;}
.websiteEditorPage .imagePreview.imageLoaded {max-height:240px;padding: 6px 0; width:auto; max-width: 384px;}
.websiteEditorPage .radioImage {max-width: 359px; border: none;}
.websiteEditorPage .flatStyle.element-wrapper {border: none; background: none; }
.websiteEditorPage #prefixUrl { width:78px;}
.websiteEditorPage #wrap-prefixUrl {margin-left:0; vertical-align: bottom;}
.websiteEditorPage a.button.publish {color:#fff;}
.wizardMode .websiteEditorPage.wrapper #wrap-previewBottom {text-align: left;display: block;margin: 24px 0 0 0;}
.websiteEditorPage .buttonBottomWrapper {margin-left: 25%;}
.websiteEditorPage .element-wrapper .icon {opacity: 1;background: #fff;margin-left: 11px;color: #A7A7A7;}
.websiteEditorPage.validation .element-wrapper.active .icon {color: #00a0db; background: #fff;}
.websiteEditorPage #wrap-description .icon, .websiteEditorPage #wrap-lottoPageTitle .icon, .websiteEditorPage #wrap-domainNameLabel .icon {font-size: 18px !important;}
.websiteEditorPage .fileUpload-image {min-height: 0;}
.websiteEditorPage .radioImage .balloon-wrapper .header {width:490px;}
.websiteEditorPage #domainNameLabel {width: 351px;display: inline-block;}
.websiteEditorPage #domainNameLabel span {word-break: break-word;}
.websiteEditorPage #wrap-domainNameLabel {background: none;border-color: transparent;}
.websiteEditorPage #editDomain {cursor: pointer;}
.websiteEditorPage #wrap-wrap-domainName {margin-left: 24%;border: none; padding-left: 15px; background: transparent;}

/****************************************************************** webSite Editor ****************************************************/
.bannersEditorPage .overlayLayer {position: absolute; z-index: 2;}
.bannersEditorPage .banner1,.bannersEditorPage .banner2,.bannersEditorPage .banner3 {display: none;}
.bannersEditorPage .banner1 {width:248px; height:282px;}
.bannersEditorPage .banner2 {width:690px; height:215px;}
.bannersEditorPage .banner3 {width:600px;height:100px;}

/****************************************************************** Marketing overview ****************************************************/
.marketigOverviewPage, .marketigPrintPage {}
.marketigOverviewPage .rightBox {float:right; width:42%; padding:11px;background: #d9f4fe;color: #00a0db;}
.marketigOverviewPage .rightBox h4 {padding: 0; margin: 0; color: #00a0db; font-size: 18px;}
.marketigOverviewPage .rightBox ol li {padding: 11px 0;}
.marketigOverviewPage .leftBox {float:left; width:47%; padding:11px;}
.marketigOverviewPage .box {position: relative;min-height: 56px;padding: 0 0 15px 65px;}
.marketigOverviewPage .box:before {content: ""; position: absolute;left:0px;top: 0px;font-weight: normal; width:50px; height:50px; background-image: url("../img/dashboard/icons.png");} 
.marketigOverviewPage .box.guide:before {}
.marketigOverviewPage .box.mediapack:before {background-position: -50px 0;}
.marketigOverviewPage .box a {display: block; padding: 15px 0 0 0;vertical-align: middle;}
.marketigOverviewPage .box a:before {background: url("../img/dashboard/pdfDownload.png") no-repeat; width:40px; height:36px; content:"\00a0"; position:relative;display: inline-block; padding-right: 11px;}
.marketigOverviewPage .box.mediapack a:before {display: none;}
.marketigOverviewPage.completeSteps .box.mediapack a:before {display: inline-block; }

.socialMediaPage .button {text-transform: initial;font-size: 18px; vertical-align: middle;}
.socialMediaPage .button.rightArrow:after {content:"";}
.socialMediaPage #facebookButton {background: #4c69ba;
	background: -webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));
	background: -webkit-linear-gradient(#4c69ba, #3b55a0);}
.socialMediaPage #twitterButton {
	background: #13b9f7;
	background: -moz-linear-gradient(top,  #13b9f7 0%, #00aced 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#13b9f7), color-stop(100%,#00aced));
	background: -webkit-linear-gradient(top,  #13b9f7 0%,#00aced 100%);
	background: -o-linear-gradient(top,  #13b9f7 0%,#00aced 100%);
	background: -ms-linear-gradient(top,  #13b9f7 0%,#00aced 100%);
	background: linear-gradient(to bottom,  #13b9f7 0%,#00aced 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13b9f7', endColorstr='#00aced',GradientType=0 );
	margin-left: 24px;
}
.socialMediaPage .button:before {font-size: 24px;vertical-align: top;}
.socialMediaPage #facebookButton:before {font-family: Symbols; content: "\F09A\00a0\00a0"; font-weight: normal;}
.socialMediaPage #twitterButton:before {font-family: Symbols; content: "\F099\00a0\00a0"; font-weight: normal;}

/****************************************************************** Marketing print Materials ****************************************************/
.marketigPrintPage .printer {float: right;position: relative; text-align: center; width: 195px;margin: 0 11px 0 0;padding: 11px;background: #d9f4fe;}
.marketigPrintPage .printer h3 {color:#00a0db; margin: 0;}
.marketigPrintPage .printer h3:before {font-family: Symbols; content:"\F02F"; display: inline-block; padding: 0 6px; font-weight: normal; font-size: 200%; }
.marketigPrintPage .promotion .banner {float: left; width: 268px; height: 381px; padding: 2px; position: relative;}
.marketigPrintPage .promotion .banner .background {position: absolute;top: 0;left: 0;}
.marketigPrintPage .promotion .banner .logo {display: inline-block;max-height: 24px;max-width: 69px;vertical-align: middle;float: left;padding-right: 3px;padding-top: 3px; position: relative;}
.marketigPrintPage .promotion .banner .partnerName {color: #00a0db;display: inline-block;float: left; width: 128px;font-size: 6px;padding-top: 12px; position: relative;}
.marketigPrintPage .promotion .banner .asideImgWrapper {position: absolute;top: 137px;left: 0px;text-align: center;width: 114px;height: 96px;line-height: 137px;}
.marketigPrintPage .promotion .banner .asideImgWrapper img {max-width: 110px;max-height: 78px;}
.marketigPrintPage .promotion .download h4 {margin:0 0 11px 0;}
.marketigPrintPage .promotion .download a {display: block; padding: 6px 0;}
.marketigPrintPage .promotion .download a:before {background: url("../img/dashboard/pdfDownload.png") no-repeat;width: 41px;
height: 36px;content: "\00a0";position: relative;display: inline-block;padding-right: 11px;}
.marketigPrintPage .promotion .download {float: left;padding: 0 15px;}
.marketigPrintPage .openPopup {cursor:pointer;}
.marketigPrintPage .download .element-wrapper {display:block;}

/****************************************************************** Marketing Website Banners ****************************************************/
.marketingBannersPage textarea {width:100%;}
.marketingBannersPage iframe {border:0;}
.marketingBannersPage .overlayBanners {position: absolute; z-index:2;}
.marketingBannersPage .banner1 {width:728px; height:90px;}
.marketingBannersPage .banner2 {width:300px; height:250px;}
.marketingBannersPage .banner3 {width:120px; height:600px;}
/****************************************************************** Marketing Customer Database ****************************************************/
.marketingDatabasePage .search {padding: 11px;border: 2px solid #00a0db;}
.marketingDatabasePage .search {width: 56%;float: left;}
.marketingDatabasePage .help {float:right; width:33%;background: #d9f4fe;padding: 11px;}
.marketingDatabasePage .period input {width: 155px;}
.marketingDatabasePage .group-wrapper .element-wrapper {margin: 11px 24px 0 0;}
.marketingDatabasePage.validation label {display:none !important;}
.marketingDatabasePage .period .right.balloon-wrapper {width:auto;min-width: 177px;}
.marketingDatabasePage .help h2 {margin: 11px 0; color: #00a0db;}
.marketingDatabasePage .help ul li {padding-bottom: 24px;}
.marketingDatabasePage #downloadCsv {float:left;text-transform: none;}
.marketingDatabasePage #downloadCsv:hover {text-decoration: none;}
.marketingDatabasePage .element-wrapper .placeholder {color: #999;}
.marketingDatabasePage .top.balloon-wrapper, .marketingDatabasePage .bottom.balloon-wrapper {width: auto; min-width: 372px !important;}
.marketingDatabasePage .balloon-wrapper .footer {display: none;}
/****************************************************************** Overview Reports ****************************************************/
.reportsOverview {float:left;}
.reportsOverview label {font-weight: bold;}
.reportsOverview .wrap-graphs {width:100%}
.reportsOverview .subscriptionGraph .wrap-graphs {width: 300px;height: 300px;}
.reportsOverview .salesGraph, .reportsOverview .subscriptionGraph {width:97%;}
.reportsOverview .salesGraph .title, .reportsOverview .subscriptionGraph .title {font-size: 22px; font-weight: bold;margin: 11px 0;}
.reportsOverview .salesGraph .title select {float:right;}
.reportsOverview .subscriptionGraph {width: 393px; float:left; text-align: center;}
.reportsOverview .wrap-salesGraph {width: 100%; height:240px;}
.reportsOverview .wrap-subscriptionGraph {width: 100%; height:240px;}
.reportsOverview .subscriptionGraph .legend {font-size: 11px;}
.reportsOverview .dwnOverview {display: block;float: left;}
/****************************************************************** Banner admin ****************************************************/
.adminBannersPage hr {margin: 22px 0;}
.adminBannersPage .bannerCont { padding: 11px; margin: 11px 0;}
.adminBannersPage .bannerPreview {border: 0;padding: 11px;margin: 0 11px 0 0;}
.adminBannersPage label {display: inline-block; width: 213px;font-weight: bold;color: #000; margin: 11px 0;}
.adminBannersPage .homePage .box4 {width: 843px;}
.adminBannersPage .affiliateList.aside {width:240px;}
.adminBannersPage .selectContainer {float: left;}
.adminBannersPage .selectContainer label {display: block; width: 211px;}
.adminBannersPage .selectContainer select {width:195px;}
.adminBannersPage .box {width: 100%;margin-bottom: 22px;}
.adminBannersPage .box .logoWrapper {width:200px; display: inline-block; text-align: center;border:1px solid #ddd; padding: 2px; height: 75px;vertical-align: middle;line-height: 75px;}
.adminBannersPage .box .logoWrapper img {max-width:200px; max-height: 65px; vertical-align: middle;}

/****************************************************************** Banner admin ****************************************************/
.publishSendReviewPage h3 {color: #00a0db;}
.publishSendReviewPage .right .balloon-arrow-overlay {border-right-color: #00a0db;}
.publishSendReviewPage .section {text-align: center;}
.publishSendReviewPage .submit {font-size: 33px;padding: 15px 51px;}

.bannersEditorPage iframe {border: 0;border-radius: 11px;}

/****************************************************************** Text PAges ****************************************************/
.textPage h2 {color: #00a0db;}
.textPage h4 {color: #00a0db; font-size: 17px;}
.textPage .noMargin {margin:0;}
.helpPage .pageLink {display: block;}
.helpPage .revenueTable { width: 96%; border: 1px inset #ddd;border-collapse:collapse; border-spacing:2px; margin: 0 auto;	}					
.helpPage .revenueTable td,th{ border: 1px inset #ddd; }	
.helpPage .revenueTable th {background: #eee;}
.helpPage .revenueTable th span {display: inline-block;s}
.helpPage .revenueTable th h3 {font-size: 14px;}
.helpPage .revenueTable td {padding:2px 0 2px 8px;font-weight:bold;}

/****************************************************************** Address Lookuop ***************************************************/
.pca .pcaautocomplete {max-width: 578px;}
.pca .pcaitem {white-space: normal !important; line-height: 15px !important;}
.pca .pcaautocomplete .pcalist {font-size: 15px;}

.validation .element-wrapper input.addressLookupInput {background: #FFEBA6;border: none;padding: 4px 2px;}
.addressLookupLabel strong {background: #00a0db;padding: 5px 0px 5px 5px;margin-top: -2px;display: inline-block;color: #fff;font-weight: normal;font-size: 13px;line-height: 20px; position: relative;}	
.addressLookupLabel strong small {height: 0px;display: inline-block;width: 0px;border: 15px solid transparent;border-left: 11px solid #00a0db;border-right: none;
	position: absolute;top:0;}
.addressLookupLabel.disabled strong {background: #E9E9E9;}
.addressLookupLabel.disabled strong small {border-left-color: #E9E9E9;}

/****************************************************************** Commission History page ***************************************************/
.historyAffiliate .pdfDownload {display: inline-block; vertical-align: middle; width:20px;}

/****************************************************************** Fixes for different width layouts ***************************************************/
@media screen and (max-width: 1050px) {
	.collapsed .validation label {width: 24%;text-align: right;display: inline-block;}
	.collapsed .validation label.url {width:140px;display: inline-block;}
	.collapsed .validation .noteField {margin: 0;}
	.collapsed .websiteEditorPage .buttonBottomWrapper {margin-left: 25%;}
	.collapsed .margin {margin-left: 24%;padding-left: 15px;}
	
	.validation label {width: 100%;text-align: left;display: block;}
	.validation .noteField {margin: 0;}
	.websiteEditorPage .buttonBottomWrapper {margin-left: 0;}
	.margin {margin-left: 0;padding-left: 0px;}
}

@media screen and (max-width: 870px) {	
	.collapsed .validation label,.validation label {width: 100%;text-align: left;display: block;}
	.collapsed .validation .noteField,.validation .noteField {margin: 0;}
	.collapsed .websiteEditorPage .buttonBottomWrapper,.websiteEditorPage .buttonBottomWrapper {margin-left: 0;}
	.collapsed .margin,.margin {margin-left: 0;padding-left: 0px;}
	
	#right {z-index: 1;}
	.collapsed #right {z-index: 0;}
}

@media screen and (max-width: 700px) {	
	#right,	.collapsed #right {z-index: 1;}
}
