<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
 
	<display-name>Asta web</display-name>
	
	
	
	<servlet>
	<servlet-name>astawebHibernateServlet</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext*.xml
		</param-value>
	</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>astawebHibernateServlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	
	
<!-- 	 <servlet> -->
<!--     <servlet-name>index</servlet-name> -->
<!--     <jsp-file>/WEB-INF/jsp/index.jsp</jsp-file> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>index</servlet-name> -->
<!--     <url-pattern>/index.html</url-pattern> -->
<!-- </servlet-mapping>  -->

<!-- <welcome-file-list> -->
<!-- 		<welcome-file>index</welcome-file> -->
<!-- 		<welcome-file>/WEB-INF/jsp/index.jsp</welcome-file> -->
<!-- 	</welcome-file-list> -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/jpaContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

 
</web-app>